:root{
    --first-color:#7B002C;
    --seconrd-color:#5E3C2B;
    --white-color: #ffffff;
    --button-background:#C9A227;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body {
    background-color: var(--white-color);
}
header {
    background-color: var(--first-color);
    padding: 0px 0;
    border-bottom: 2px solid #ddd;
}

header .container {
    margin-left: 5%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

header .logo img {
    height: 50px;
}

header .search-box {
    display: flex;
    align-items: center;
    background: #eee;
    padding: 5px;
    border-radius: 5px;
}

header .search-box input {
    border: none;
    padding: 8px;
    outline: none;
    background: none;
}

header .search-box button {
    background: var(--button-background);
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 3px;
}
nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: var(--white-color);
    font-size: 16px;
    padding: 10px;
    transition: 0.3s;
}

nav ul li a:hover {
    color: var(--button-background);
}
.main-nav {
    background: var(--seconrd-color);
    padding: 10px 0;
    text-align: left;
    margin-top: 2%;
}

.main-nav ul {
    list-style: none;
    padding-left: 15px;
}

.main-nav ul li {
    display: inline;
    margin-right: 20px;
}

.main-nav ul li a {
    color: var(--white-color);
    font-size: 16px;
    text-decoration: none;
    padding: 10px;
}

.main-nav ul li a:hover {
    text-decoration: underline;
}   